/* Estilos generales */
html, body {
  height: 100%; 
  margin: 0;
  background-color: #f0f0f0;
}
  .backgroundmainfeed {  
    background-color: #f0f0f0; /* Color de fondo gris claro */  
  }
/* Barra lateral */
.sidebarposition {
  width: 250px;
  height: 100vh; /* Ajusta la altura de la barra lateral */
  background: #ffffff;
  border-right: 1px solid #ccc;
  padding-top: 20px;
  position: fixed; /* Fija la posición de la barra lateral */
  left: 0;
  top: 0;
  /* Elimina el scroll vertical de la barra lateral */
  /* overflow-y: auto; */ 
}

.sidebarposition a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

.sidebarposition a:hover {
  background: #D1F1FF;
}

/* Contenedor de contenido */
.content-container {
  flex-grow: 1;
  padding: 20px;
  margin-left: 270px; /* Ajusta el margen izquierdo */
  margin-top: 20px; /* Ajusta el margen superior */
}

/* Encabezado del grupo */
.group-header {
  background-color: #e0f7fa; /* Color de fondo azul claro */  
  color: #212121; /* Color de texto gris oscuro */  
  padding: 15px;  
  text-align: left;  
  font-size: 20px; /* Tamaño de fuente más grande para el título */  
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}



.group-stats {
  display: flex;
  align-items: center;
}

.publiamountpos,
.memberamntpos {
  margin-left: 20px;
}

/* Línea divisora */
.divisorlinegp {
  border-left: 1px solid #bdbdbd; /* Borde gris claro */  
  height: 100%; /* Altura completa */  
  margin: 20px 0; /* Margen superior e inferior */  
}

/* Contenedor de posts */


.faposition {
  width: 95%; /* Ajusta el ancho a 100% */
  padding: 30px; /* Aumenta el padding */
  background: #fff; 
  border-radius: 16px;
  border: 1px solid #eee;
  margin-bottom: 20px;
  position: relative;
}

.faposition h3 {
  margin-bottom: 10px;
  font-size: 24px; /* Aumenta el tamaño de la fuente del título */
}

.postbox {
  margin-bottom: 20px;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.acciones img {
  margin-left: 10px;
  cursor: pointer;
}

.new-post {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.new-post input,
.new-post textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.new-post input {
  display: block; /* Fuerza a que los inputs ocupen todo el ancho y se apilen */
}

.new-post button {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-post button:hover {
  background: #0056b3;
}